.container{
    margin-left: 35%;
  margin-right: 40%;
  background-color: antiquewhite;
  padding: 30px;
  border: 1px solid rgb(76, 26, 76);
}
.container-outer{
    display: flex;
}
#inner{
    margin-left: 30px;
}
.final-result{
    background-color: darkcyan;
    padding: 5px;
    border: 1px solid rgb(200, 54, 216);
}